# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.pytest_cache/
*.egg-info/
src/*.egg-info/
src/bioimagenes.egg-info/

# Entornos virtuales
.venv/
venv/
env/
ENV/

# VS Code
.vscode/

# Archivos temporales
cd
python
prueba_rgb.py

# Sistema
.DS_Store
Thumbs.db